.borda {
  background-color: aqua;
  max-width: fit-content;
  margin: auto;
  padding: 20px;
}
#adultos {
  display: block;
  margin-left: 50px;
  width: 150px;
  
}
#criancas {
  display: block;
  margin-left: 50px;
  width: 150px;
}

#duracao {
  display: block;
  margin-left: 50px;
  width: 150px;
}

.input {
  margin: auto;
}
#calcular {
  margin-left: 50px;
}
h1 {
  margin-top: 0;
}
